@import 'button';
@import 'search';
@import 'menu';
@import 'card';

html{
  height: 100%;
}
body,#root{
  display: flex;
  flex-direction: column;
  height: 100%;
}

header{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}
main{
  /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 1 0 auto;
}
footer{
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}

.form-control{
  border: 1px solid transparent;
  padding: 5px 10px;
}

.map-container{
  width: 80vw;
  margin: 0 auto;
  max-height: 80vh;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 3100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-body{
  padding: 10px;
  //width: 30rem;
  //height: 20rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .15);
  /*размываем элемент*/
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  &:before{

  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}