.menu{
  padding: 5px 10px;
  position: fixed;
  top: 50%;
  left: 0;
  background: aliceblue;
  border-radius: 0 5px 5px 0 ;
  &__item{
    list-style-type: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  &__link{
    margin-left: 10px;
    text-decoration: none;
  }
}